div.node {
  border: solid 1px #E9E9E9;
  overflow: hidden;
  position: absolute;
}

/* porteront les noms des groupes et les couleurs */
div.nonterm {
  text-align: right ;
  font-style: italic ;
  font-size: 3em;
}

/* 4 spaces for pseudo negative text indent */
div.nonterm::after {
  content: "\a0\a0\a0\a0";
}

/* porteront les noms des cases terminales */
div.terminal {
  text-align: left ;
  text-indent: 2px;
  font-style: normal ;
  font-size: 1em;
}

/* labels des cases */
text {
  color: black;
  font-weight: bold;
}
