body {
  margin: auto;
  position: relative;
  width: 960px;
}

div.node {
  border: solid 1px #E9E9E9;
  overflow: hidden;
  position: absolute;
}

/* porteront les noms des groupes et les couleurs */
div.nonterm {
  font-family: Calibri, sans-serif;
  text-align: right ;
  font-style: italic ;
  font-size: 1em;
}

/* 4 espaces après le label pour imiter margin-right */
div.nonterm::after {
  content: "\a0\a0\a0\a0";
}

/* porteront les noms des cases terminales */
div.terminal {
  text-align: left ;
  text-indent: 2px;
  font-style: normal ;
  font-size: .5em;
}

/* labels des cases */
text {
  color: black;
  font-weight: bold;
}
