{% extends "ird_base.html" %}

{% block headers %}

  <title>Exemple de diagramme treemap</title>
  <link href="static/css/istex_rd_treemap.css" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block contenu_normaux %}
  <h3>Treemap exemple</h3>
  <p class="en_bas"></p>



<script type="text/javascript" src="static/js/d3.js"/></script>
<script type="text/javascript" src="static/js/istex_rd_treemap.js"></script>

<script type="text/javascript">
// création du treemap (larg, haut, data, div(X).append)
rd.do_treemap(900, 500, "static/data/nbBibs_X_lots.tree.json", "p.en_bas")
</script>

{% endblock %}
